/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* css variables */
@import url(/partials/_variable.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
  background-color: #edf7f9;
}

.header_area .main-menu .nav-item .nav-link {
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end navigation */
